Flask==3.0.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.29
alembic==1.13.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
openai==1.35.10
matplotlib==3.8.4
PyMuPDF==1.24.7
pandas==2.2.2
numpy==1.26.4
gunicorn==21.2.0