body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: #c1c1c1;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(220, 218, 218, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  color: #000000;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  width: 250px;
}

.input-group input {
  background: none;
  border: none;
  outline: none;
  color: #000000;
  margin-left: 10px;
  width: 100%;
  font-size: 1rem;
}

.icon {
  font-size: 1.2rem;
  color: white;
}

.register-button {
  background-color: rgb(4, 0, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  padding: 0.7rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #e0e0e0;
}

.register-link {
  margin-top: 1rem;
  color: #1900ff;
  font-size: 0.9rem;
}

.register-link a {
  color: #1900ff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
